<script type="module" src="{{ 'component-video-hero.js' | asset_url }}"></script>
<link rel="stylesheet" href="{{ 'component-video-hero.css' | asset_url }}" />
<link rel="stylesheet" href="{{ 'plyr.css' | asset_url }}" />

{%- liquid
  assign autiplay_video = section.settings.autoplay

  capture autiplay
    if autiplay_video
      echo 'autoplay'
    endif
  endcapture
-%}

<div class="slider-mobile-gutter">
  <div class="c-video" data-module="video-hero">
    <video
      playsinline
      data-video
      {{ autoplay }}
    >
      {% if section.settings.video_mp4 != blank %}
      <source src="{{ section.settings.video_mp4 }}" type="video/mp4">
      {% endif %}

      {% if section.settings.video_webm != blank %}
      <source src="{{ section.settings.video_webm }}" type="video/webm">
      {% endif %}
    </video>
  </div>
</div>

{% schema %}
{
  "name": "Video Hero",
  "tag": "section",
  "class": "section--vide-hero",
  "settings": [
    {
      "type": "header",
      "content": "Video"
    },
    {
      "type": "url",
      "id": "video_mp4",
      "label": "MP4"
    },
    {
      "type": "url",
      "id": "video_webm",
      "label": "WebM"
    },
    {
      "type": "video_url",
      "id": "video_url_provider",
      "accept": [
        "youtube",
        "vimeo"
      ],
      "label": "Video URL"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Autoplay"
    }
  ],
  "presets": [
    {
      "name": "Video Hero"
    }
  ]
}
{% endschema %}
